Model/src/xml/schemas/external/AckRequests.xsd

<xs:schema targetNamespace="http://www.libredemat.org"
  xmlns:libredemat="http://www.libredemat.org"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:common="http://www.libredemat.org/schema/common" 
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified">

  <xs:element name="AckRequestsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AckElements" type="libredemat:AckRequestType" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AckRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Accomplished" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="AckRequestType">
    <xs:sequence>
      <xs:element name="RequestId" type="xs:long">
        <xs:annotation>
          <xs:documentation>
            Processed request identifier
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Erroneous" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            Error flag
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>  

</xs:schema>
