Model/src/xml/schemas/external/CheckExternalReferential.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.libredemat.org/modules/payment/schema/cer"
  xmlns:cer="http://www.libredemat.org/modules/payment/schema/cer"
  xmlns:cvq="http://www.libredemat.org/schema/common"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.libredemat.org/schema/common"
    schemaLocation="http://static.mairie24.fr/4.7-libredemat/schemas/common/CVQCommonElements.xsd" />

  <xs:element name="checkExternalReferentialRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Request" type="cvq:RequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="checkExternalReferentialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message" type="xs:string" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
