Model/src/xml/schemas/external/HomeFolderMappingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.libredemat.org"
  xmlns:libredemat="http://www.libredemat.org"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified">

  <xs:element name="homeFolderMappingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LocalAuthority" type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The local authority to which the request belongs to
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="HomeFolderMapping" type="libredemat:HomeFolderMappingType"/>
        <xs:element name="IndividualMapping" type="libredemat:IndividualMappingType" minOccurs="0" 
          maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HomeFolderMappingType">
    <xs:sequence>
      <xs:element name="ExternalLibreDematId" type="xs:string" />
      <xs:element name="ExternalId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IndividualMappingType">
    <xs:sequence>
      <xs:element name="ExternalLibreDematId" type="xs:string" />
      <xs:element name="ExternalId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
