Model/src/xml/schemas/external/wsdl/AckRequests.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.libredemat.org"
                  xmlns:tns="http://www.libredemat.org"
                  name=""
                  targetNamespace="http://www.libredemat.org">
   <wsdl:types>
      <xs:schema xmlns:libredemat="http://www.libredemat.org"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:common="http://www.libredemat.org/schema/common"
                 targetNamespace="http://www.libredemat.org"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:element name="AckRequestsRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="AckElements" type="libredemat:AckRequestType" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:element name="AckRequestsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Accomplished" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
  
         <xs:complexType name="AckRequestType">
            <xs:sequence>
               <xs:element name="RequestId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>
            Processed request identifier
          </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Erroneous" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>
            Error flag
          </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:complexType>  

      </xs:schema>
   </wsdl:types>
   <wsdl:message name="AckRequestsRequestMessage">
      <wsdl:part name="body" element="schema:AckRequestsRequest"/>
   </wsdl:message>
   <wsdl:message name="AckRequestsResponseMessage">
      <wsdl:part name="body" element="schema:AckRequestsResponse"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="Ack">
         <wsdl:input name="AckInput" message="tns:AckRequestsRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Ack">
         <wsdlsoap:operation soapAction="http://www.libredemat.org/Ack"/>
         <wsdl:input name="AckInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
