Model/src/xml/schemas/external/wsdl/AddDocumentCertificate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/capdemat/adc"
                  xmlns:tns="http://www.capwebct.fr/capdemat/adc"
                  name=""
                  targetNamespace="http://www.capwebct.fr/capdemat/adc">
   <wsdl:types>
      <xs:schema xmlns:adc="http://www.capwebct.fr/capdemat/adc"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:common="http://www.cg95.fr/cvq/schema/common"
                 targetNamespace="http://www.capwebct.fr/capdemat/adc"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:element name="AddDocumentCertificateRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="RequestId" type="xs:long"/>
                  <xs:element name="EndValidityDate" type="xs:date"/>
                  <xs:element name="Label" type="xs:long"/>
                  <xs:element name="Data" type="xs:base64Binary"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:element name="AddDocumentCertificateResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Accomplished" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
  
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="AddDocumentCertificateRequestMessage">
      <wsdl:part name="body" element="schema:AddDocumentCertificateRequest"/>
   </wsdl:message>
   <wsdl:message name="AddDocumentCertificateResponseMessage">
      <wsdl:part name="body" element="schema:AddDocumentCertificateResponse"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="AddDocumentCertificate">
         <wsdl:input name="AddDocumentCertificateInput"
                     message="tns:AddDocumentCertificateRequestMessage"/>
         <wsdl:output name="AddDocumentCertificateOutput"
                      message="tns:AddDocumentCertificateResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="AddDocumentCertificate">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/capdemat/adc/AddDocumentCertificate"/>
         <wsdl:input name="AddDocumentCertificateInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="AddDocumentCertificateOutput">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>