Model/src/xml/schemas/external/wsdl/GetRequests.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.libredemat.org"
                  xmlns:tns="http://www.libredemat.org"
                  name=""
                  targetNamespace="http://www.libredemat.org">
   <wsdl:types>
      <xs:schema xmlns:libredemat="http://www.libredemat.org"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:common="http://www.libredemat.org/schema/common"
                 targetNamespace="http://www.libredemat.org"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:import namespace="http://www.libredemat.org/schema/common"
               schemaLocation="http://static.mairie24.fr/latest/schemas/common/CVQCommonElements.xsd"/>

         <xs:element name="GetRequestsRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="RequestTypeLabel" type="xs:string" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
              The label of the request types. If not provided, all authorized 
	          request types will be returned.
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="Id" type="xs:long" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
              To retrieve a specific request by id
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="DateFrom" type="xs:dateTime" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
              The date to search from
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="DateTo" type="xs:dateTime" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>
              The date to search to. Defaults to today (included) if not provided.
            </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="State" type="common:RequestStateType" default="Validated"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

         <xs:element name="GetRequestsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:choice>
                     <xs:element name="Error" type="xs:string" minOccurs="0"/>
                     <xs:element name="Request" type="common:RequestType" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:choice>
               </xs:sequence>
            </xs:complexType>
         </xs:element>

      </xs:schema>
   </wsdl:types>
   <wsdl:message name="GetRequestsRequestMessage">
      <wsdl:part name="body" element="schema:GetRequestsRequest"/>
   </wsdl:message>
   <wsdl:message name="GetRequestsResponseMessage">
      <wsdl:part name="body" element="schema:GetRequestsResponse"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="Get">
         <wsdl:input name="GetInput" message="tns:GetRequestsRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Get">
         <wsdlsoap:operation soapAction="http://www.libredemat.org/Get"/>
         <wsdl:input name="GetInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
