Model/src/xml/schemas/external/wsdl/HomeFolderMerge.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.capwebct.fr/capdemat"
                  xmlns:tns="http://www.capwebct.fr/capdemat"
                  name=""
                  targetNamespace="http://www.capwebct.fr/capdemat">
   <wsdl:types>
      <xs:schema xmlns:capdemat="http://www.capwebct.fr/capdemat"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://www.capwebct.fr/capdemat"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified">

         <xs:element name="homeFolderMergeRequest">
            <xs:annotation>
               <xs:documentation>
        A message sent to an external service after a successful merge of an home folder
      </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="OriginHomeFolderExternalCapDematId" type="xs:string"/>
                  <xs:element name="TargetHomeFolderExternalCapDematId" type="xs:string"/>
                  <xs:element name="MergedIndividual" type="capdemat:MergedIndividualType"
                              maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
  
         <xs:complexType name="MergedIndividualType">
            <xs:sequence>
               <xs:element name="OriginIndividualExternalCapDematId" type="xs:string"/>
               <xs:element name="TargetIndividualExternalCapDematId" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>

      </xs:schema>
   </wsdl:types>
   <wsdl:message name="homeFolderMergeRequestMessage">
      <wsdl:part name="body" element="schema:homeFolderMergeRequest"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="homeFolderMerge">
         <wsdl:input name="homeFolderMergeInput" message="tns:homeFolderMergeRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="homeFolderMerge">
         <wsdlsoap:operation soapAction="http://www.capwebct.fr/capdemat/homeFolderMerge"/>
         <wsdl:input name="homeFolderMergeInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>