Model/src/xml/schemas/external/wsdl/Homonymy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.libredemat.org/homonymy"
                  xmlns:tns="http://www.libredemat.org/homonymy"
                  name=""
                  targetNamespace="http://www.libredemat.org/homonymy">
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 xmlns:ho="http://www.libredemat.org/homonymy"
                 targetNamespace="http://www.libredemat.org/homonymy"
                 elementFormDefault="qualified">
	
  <!--  Request -->		
  <xs:element name="HomonymyRequest">
	           <xs:complexType>
	              <xs:sequence>
	                 <xs:element name="ExternalIndividual" type="ho:ExternalIndividualType"
                              maxOccurs="unbounded"/>
	              </xs:sequence>
	           </xs:complexType>
         </xs:element>
	
         <!--  Response --> 
  <xs:element name="HomonymyResponse">
	           <xs:complexType>
	              <xs:sequence>
	                 <xs:element name="CapdematHomonym" type="ho:CapdematHomonymType" maxOccurs="unbounded"/>
	              </xs:sequence>
	           </xs:complexType>
         </xs:element>
  
         <!--  -->
  <xs:complexType name="ExternalIndividualType">
            <xs:annotation>
               <xs:documentation xml:lang="fr">
        Information caractérisant un individu provenant d'une application externe pour lequel il faut chercher des homonymes
      </xs:documentation>
            </xs:annotation>
            <xs:sequence>
               <xs:element name="ExternalId" type="xs:string">
      	           <xs:annotation>
      		             <xs:documentation xml:lang="fr">
      			Numero identifiant l'individu dans l'application externe. Permet de relier chaque individu externe avec ses homonymes Capdemat.
      		</xs:documentation>
      	           </xs:annotation>
               </xs:element>
               <xs:element name="FirstName" type="xs:string"/>
               <xs:element name="LastName" type="xs:string"/>
            </xs:sequence>
         </xs:complexType> 
  
         <xs:complexType name="CapdematHomonymType">
  	         <xs:annotation>
               <xs:documentation xml:lang="fr">
        Liste d'individus homonymes pour une personne externe
      </xs:documentation>
            </xs:annotation>
            <xs:sequence>
    	          <xs:element name="ExternalId" type="xs:string">
	      	          <xs:annotation>
	      		            <xs:documentation xml:lang="fr">
	      			Numero identifiant la personne externe
	      		</xs:documentation>
	      	          </xs:annotation>
      	        </xs:element>    	
		             <xs:element name="HomonymIndividual" type="ho:HomonymIndividualType" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:complexType>
  
         <xs:complexType name="HomonymIndividualType">
            <xs:annotation>
               <xs:documentation xml:lang="fr">
        
      </xs:documentation>
            </xs:annotation>
            <xs:sequence>
               <xs:element name="HomeFolderId" type="xs:string" minOccurs="1"/>
	              <xs:element name="IndividualId" type="xs:string" minOccurs="1"/>
	              <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
	              <xs:element name="LastName" type="xs:string" minOccurs="0"/>
	              <xs:element name="Email" type="xs:string" minOccurs="0"/>
	              <xs:element name="HomePhone" type="xs:string" minOccurs="0"/>
	              <xs:element name="OfficePhone" type="xs:string" minOccurs="0"/>
	              <xs:element name="MobilePhone" type="xs:string" minOccurs="0"/>
	              <xs:element name="StreetNumber" type="xs:string" minOccurs="0"/>
	              <xs:element name="StreetName" type="xs:string" minOccurs="0"/>
	              <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
	              <xs:element name="City" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="HomonymyRequestMessage">
      <wsdl:part name="body" element="schema:HomonymyRequest"/>
   </wsdl:message>
   <wsdl:message name="HomonymyResponseMessage">
      <wsdl:part name="body" element="schema:HomonymyResponse"/>
   </wsdl:message>
   <wsdl:portType name="PortType">
      <wsdl:operation name="Homonymy">
         <wsdl:input name="HomonymyInput" message="tns:HomonymyRequestMessage"/>
         <wsdl:output name="HomonymyOutput" message="tns:HomonymyResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Binding" type="tns:PortType">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Homonymy">
         <wsdlsoap:operation soapAction="http://www.libredemat.org/homonymy/Homonymy"/>
         <wsdl:input name="HomonymyInput">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="HomonymyOutput">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Service">
      <wsdl:port name="Port" binding="tns:Binding">
         <wsdlsoap:address location=""/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>