Generator/src/xml/schemas/request/LeisureCenterRegistrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.libredemat.org/schema/lcrr"
  xmlns:lcrr="http://www.libredemat.org/schema/lcrr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.libredemat.org/schema/common" 
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified">

  <xs:import namespace="http://www.libredemat.org/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />

  <xs:element name="LeisureCenterRegistrationRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
        Demande d'inscription au centre de loisirs
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
        Inscription aux centres de loisirs
      </xs:documentation>
      <xs:appinfo>
        <model namespace="school" />
        <common>
          <namespace name="school" />
          <steps>
            <step index="-1" ref="homeFolder">
              <widget>
                <homeFolder />
              </widget>
            </step>
            <step index="0" name="enfant" >
              <widgets>
                <subject />
              </widgets>
              <conditions>
                <condition name="estDerogation" />
                <condition name="estTransport" />
              </conditions>
            </step>
            <step index="1" name="reglements" />
            <step index="2" ref="document" />
            <step index="3" ref="validation" />
          </steps>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="EstDerogation" type="xs:boolean" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Souhaitez-vous faire une demande de dérogation ?
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Souhaitez-vous faire une demande de dérogation ?
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="enfant" />
                    <conditions>
                        <condition name="estDerogation" type="trigger" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="2" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="MotifsDerogationCentreLoisirs" type="cvq:LocalReferentialDataType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Motifs
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Motifs
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="request" isTiedToRequest="true" />
                  <common>
                    <step name="enfant" />
                    <conditions>
                        <condition name="estDerogation" type="filled" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="2" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="CentresLoisirs" type="lcrr:CentreLoisirsType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Centre de loisirs
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Centre de loisirs
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step ref="enfant" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="EstTransport" type="xs:boolean" default="false">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Souhaitez-vous bénéficier des transports ?
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Souhaitez-vous bénéficier des transports ?
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="enfant" />
                    <conditions>
                      <condition name="estTransport" type="trigger" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Transports" type="lcrr:TransportsType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Lignes et arrêts
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Lignes et arrêts
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="enfant" />
                    <conditions>
                      <condition name="estTransport" type="filled" />
                    </conditions>
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AcceptationReglementInterieur" type="cvq:AcceptanceType" default="false" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  J'accepte et je m'engage à respecter le règlement
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  J'accepte et je m'engage à respecter le règlement
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="reglements" />
                  </common>
                  <fo />
                  <bo column="1" />
                  <pdf />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CentreLoisirsType">
    <xs:sequence>
      <xs:element name="IdCentreLoisirs" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Identifiant du centre de loisirs
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Identifiant du centre de loisirs
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo column="1" />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LabelCentreLoisirs" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Label du centre de loisirs
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Label du centre de loisirs
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo column="1" />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TransportsType">
    <xs:sequence>
      <xs:element name="IdLigne" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Choisissez votre ligne
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Choisissez votre ligne
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo column="1" />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LabelLigne" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Choisissez votre ligne
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Choisissez votre ligne
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo column="1" />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdArret" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Choisissez votre arrêt de montée et descente
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Choisissez votre arrêt de montée et descente
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo column="1" />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="LabelArret" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Choisissez votre arrêt de montée et descente
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Choisissez votre arrêt de montée et descente
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="enfant" />
            </common>
            <fo />
            <bo column="1" />
            <pdf />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
