Generator/src/xml/schemas/request/ParkingPermitTemporaryRelocationRequest.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://www.libredemat.org/schema/pptrr" xmlns:pptrr="http://www.libredemat.org/schema/pptrr" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cvq="http://www.libredemat.org/schema/common" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:import namespace="http://www.libredemat.org/schema/common" schemaLocation="../common/CVQCommonElements.xsd" />

    <xs:element name="ParkingPermitTemporaryRelocationRequest">
        <xs:annotation>
            <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                Demande de permis de stationnement provisoire pour déménagement
            </xs:documentation>
            <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                Permis de stationnement provisoire pour déménagement
            </xs:documentation>
            <xs:appinfo>
                <model namespace="permit" />
                <common>
                    <namespace name="permit" />
                    <steps>
                        <step index="0" name="relocation">
                            <widgets>
                                <requester />
                            </widgets>
                            <conditions>
                                <condition name="isCompany" />
                            </conditions>
                        </step>
                        <step index="1" name="reglements" />
                        <step index="2" ref="validation" />
                        <step index="3" ref="paiement" />
                    </steps>
                </common>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="cvq:RequestType">
                    <xs:sequence>
                        <xs:element name="IsCompany" type="xs:boolean" default="true">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                                    Êtes-vous une entreprise ?
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                                    Êtes-vous une entreprise ?
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="relocation" />
                                        <conditions>
                                            <condition name="isCompany" type="trigger" />
                                        </conditions>
                                    </common>
                                    <pdf/>
                                    <fo />
                                    <bo column="1" />
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="CompanyInformation" type="pptrr:PptrrCompanyInformationType">
                            <xs:annotation>
                                <xs:appinfo>
                                    <common>
                                        <step name="relocation" />
                                        <conditions>
                                            <condition name="isCompany" type="filled" required="true" />
                                        </conditions>
                                    </common>
                                    <pdf/>
                                    <fo />
                                    <bo column="1" />
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="DesiredService" type="cvq:LocalReferentialDataType" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                                    Prestation souhaitée
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                                    Prestation souhaitée
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="relocation" />
                                    </common>
                                    <model namespace="request" isTiedToRequest="true" />
                                    <pdf/>
                                    <fo />
                                    <bo column="1" />
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="RequesterAddress" type="xs:string">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                                    Adresse du déménagement qui va occasioner un stationnement
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                                    Adresse du déménagement
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="relocation" />
                                    </common>
                                    <pdf/>
                                    <fo >
                                        <textarea rows="3" />
                                    </fo>
                                    <bo column="2" >
                                        <textarea rows="3" />
                                    </bo>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PeriodeStart" type="xs:date" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">Période prévue du
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">Période prévue du
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="relocation" />
                                    </common>
                                    <pdf/>
                                    <fo>
                                        <calendar />
                                    </fo>
                                    <bo column="2">
                                        <calendar/>
                                    </bo>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PeriodeEnd" type="xs:date" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">Au
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">Au
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="relocation" />
                                    </common>
                                    <pdf/>
                                    <fo>
                                        <calendar notBeforeDate="periodeStart" disabledWith="periodeStart" />
                                    </fo>
                                    <bo column="2">
                                        <calendar/>
                                    </bo>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="HeureStart" type="pptrr:HeuresType" minOccurs="1" default="K9">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">Horaires de début
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">Horaires de début
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="relocation" />
                                    </common>
                                    <pdf/>
                                    <fo style="width:100px" />
                                    <bo column="2" />
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="HeureEnd" type="pptrr:HeuresType" minOccurs="1" default="K18">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">Horaires de fin
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">Horaires de fin
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="relocation" />
                                    </common>
                                    <pdf/>
                                    <fo style="width:100px" />
                                    <bo column="2" />
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="EquipmentUsed" type="pptrr:PptrrEquipementUsedType">
                            <xs:annotation>
                                <xs:appinfo>
                                    <common>
                                        <step name="relocation" />
                                    </common>
                                    <pdf />
                                    <fo />
                                    <bo column="1" />
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Observations" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                                    Observations ou compléments
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                                    Observations ou compléments
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="relocation" />
                                    </common>
                                    <pdf/>
                                    <fo>
                                        <textarea rows="3" />
                                    </fo>
                                    <bo column="2">
                                        <textarea rows="3" />
                                    </bo>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="AcceptationReglementInterieur" type="cvq:AcceptanceType" default="false">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                                    J'accepte et je m'engage à respecter le règlement
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                                    J'accepte et je m'engage à respecter le règlement
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="reglements" />
                                    </common>
                                    <fo>
                                        <checkbox/>
                                    </fo>
                                    <bo column="1" />
                                    <pdf/>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ObservationsReglement" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                                    Observations
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                                    Observations
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="reglements" />
                                    </common>
                                    <pdf/>
                                    <fo>
                                        <textarea rows="3" />
                                        <headerInformation />
                                    </fo>
                                    <bo column="2">
                                        <textarea rows="3" />
                                    </bo>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Payment" type="cvq:PaymentType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">Activer un paiement
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">Activer un paiement
                                </xs:documentation>
                                <xs:appinfo>
                                    <model namespace="payment" isTiedToRequest="true" />
                                    <common>
                                        <step name="paiement" />
                                    </common>
                                    <bo column="1" specificEditField="${rqt.payment != null AND rqt.payment.state.name == 'Validated' ? '' : 'action-editField'}" />
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PaymentIndicativeAmount" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                                    Montant indicatif du paiement
                                </xs:documentation>
                                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                                    Montant indicatif du paiement
                                </xs:documentation>
                                <xs:appinfo>
                                    <common>
                                        <step name="paiement" />
                                    </common>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="HeuresType">
        <xs:annotation>
            <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">Horaires
            </xs:documentation>
            <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">Horaires
            </xs:documentation>
            <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/translation/enum">
                <enum value='0' key='K0' />
                <enum value='1' key='K1' />
                <enum value='2' key='K2' />
                <enum value='3' key='K3' />
                <enum value='4' key='K4' />
                <enum value='5' key='K5' />
                <enum value='6' key='K6' />
                <enum value='7' key='K7' />
                <enum value='8' key='K8' />
                <enum value='9' key='K9' />
                <enum value='10' key='K10' />
                <enum value='11' key='K11' />
                <enum value='12' key='K12' />
                <enum value='13' key='K13' />
                <enum value='14' key='K14' />
                <enum value='15' key='K15' />
                <enum value='16' key='K16' />
                <enum value='17' key='K17' />
                <enum value='18' key='K18' />
                <enum value='19' key='K19' />
                <enum value='20' key='K20' />
                <enum value='21' key='K21' />
                <enum value='22' key='K22' />
                <enum value='23' key='K23' />
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value='K0' />
            <xs:enumeration value='K1' />
            <xs:enumeration value='K2' />
            <xs:enumeration value='K3' />
            <xs:enumeration value='K4' />
            <xs:enumeration value='K5' />
            <xs:enumeration value='K6' />
            <xs:enumeration value='K7' />
            <xs:enumeration value='K8' />
            <xs:enumeration value='K9' />
            <xs:enumeration value='K10' />
            <xs:enumeration value='K11' />
            <xs:enumeration value='K12' />
            <xs:enumeration value='K13' />
            <xs:enumeration value='K14' />
            <xs:enumeration value='K15' />
            <xs:enumeration value='K16' />
            <xs:enumeration value='K17' />
            <xs:enumeration value='K18' />
            <xs:enumeration value='K19' />
            <xs:enumeration value='K20' />
            <xs:enumeration value='K21' />
            <xs:enumeration value='K22' />
            <xs:enumeration value='K23' />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PptrrCompanyInformationType">
        <xs:sequence>
            <xs:element name="SiretNumber">
                <xs:annotation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                        Numéro de SIRET
                    </xs:documentation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                        Numéro de SIRET
                    </xs:documentation>
                    <xs:appinfo>
                        <common>
                            <step name="relocation" />
                            <conditions>
                                <condition name="isCompany" type="filled" required="true" />
                            </conditions>
                            <validation jsregexp="^[0-9]{14}$" />
                        </common>
                        <pdf/>
                        <fo />
                        <bo column="1" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="^[0-9]{14}$" />
                        <xs:maxLength value="14" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ApeCode">
                <xs:annotation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                        Code APE
                    </xs:documentation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                        Code APE
                    </xs:documentation>
                    <xs:appinfo>
                        <common>
                            <step name="relocation" />
                            <conditions>
                                <condition name="isCompany" type="filled" required="true" />
                            </conditions>
                            <validation jsregexp="^[0-9]{4}[a-zA-Z]{1}$" />
                        </common>
                        <pdf/>
                        <fo />
                        <bo column="1" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="^[0-9]{4}[a-zA-Z]{1}$" />
                        <xs:maxLength value="5" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PptrrEquipementUsedType">
        <xs:annotation>
            <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                Matériel utilisé
            </xs:documentation>
            <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                Matériel utilisé
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VehicleType" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                        Type de véhicule
                    </xs:documentation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                        Type de véhicule
                    </xs:documentation>
                    <xs:appinfo>
                        <common>
                            <step name="relocation" />
                        </common>
                        <pdf/>
                        <fo/>
                        <bo column="1" />
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Longeur" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                        Longueur du véhicule (en mètre)
                    </xs:documentation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                        Longueur du véhicule (en mètre)
                    </xs:documentation>
                    <xs:appinfo>
                        <common>
                            <step name="relocation" />
                        </common>
                        <fo style="width:100px" />
                        <bo column="1" />
                        <pdf/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Immatriculation" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                        Numéro d'immatriculation
                    </xs:documentation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                        Numéro d'immatriculation
                    </xs:documentation>
                    <xs:appinfo>
                        <common>
                            <step name="relocation" />
                            <validation jsregexp="^[\w\W]{0,255}$" />
                        </common>
                        <fo style="width:200px" />
                        <bo column="1" />
                        <pdf/>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="^[\w\W]{0,255}$" />
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="FurnitureLifting" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                        Monte meuble
                    </xs:documentation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                        Monte meuble
                    </xs:documentation>
                    <xs:appinfo>
                        <common>
                            <step name="relocation" />
                        </common>
                        <fo />
                        <bo column="1" />
                        <pdf/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Other" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                        Autre
                    </xs:documentation>
                    <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                        Autre
                    </xs:documentation>
                    <xs:appinfo>
                        <common>
                            <step name="relocation" />
                        </common>
                        <fo />
                        <bo column="1" />
                        <pdf/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
