Generator/src/xml/schemas/request/StudyGrantRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.libredemat.org/schema/sgr"
  xmlns:sgr="http://www.libredemat.org/schema/sgr"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cvq="http://www.libredemat.org/schema/common"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  
  <xs:import namespace="http://www.libredemat.org/schema/common"
    schemaLocation="../common/CVQCommonElements.xsd" />
    
  <xs:element name="StudyGrantRequest">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
        Demande de bourse Mobil'Etudes
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
        Study grant request
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
        Bourse Mobil'Etudes
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
        Study grant request
      </xs:documentation>
      <xs:appinfo>
        <model namespace="school" />
        <common>
          <namespace name="school" />
          <steps>
            <step index="-1" ref="homeFolder">
              <widget>
                <homeFolder />
              </widget>
            </step>
            <step index="0" name="subject">
              <widgets>
                <subject into="SubjectInformations">
                  <autofill name="subjectFilling" type="trigger" />
                </subject>
              </widgets>
            </step>
            <step index="1" name="taxHousehold">
              <conditions>
                <condition name="isTaxHouseholdCityOther" />
              </conditions>
            </step>
            <step index="2" name="otherHelps" />
            <step index="3" name="currentStudies">
              <conditions>
                <condition name="isCurrentSchoolNameOther" />
                <condition name="isInOtherStudies" />
                <condition name="makesAbroadInternship" />
              </conditions>
            </step>
            <step index="4" name="bankReference">
              <conditions>
                <condition name="isSubjectAccountHolder" />
              </conditions>
            </step>
            <step index="5" ref="document" />
            <step index="6" ref="validation" />
            <step index="7" ref="administration" />
          </steps>
        </common>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cvq:RequestType">
          <xs:sequence>
            <xs:element name="SubjectInformations" type="sgr:SubjectInformationsType">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="subject" />
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdLastName" type="cvq:LastNameType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Nom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Last name
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Nom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Last name
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                  </common>
                 <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdFirstName" type="cvq:FirstNameType">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Prénom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  First name
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Prénom
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  First name
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdCity" type="cvq:LocalReferentialDataType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Commune
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  City
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Commune
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  City
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="request" isTiedToRequest="true" />
                  <common>
                    <step name="taxHousehold" />
                    <conditions>
                      <condition name="isTaxHouseholdCityOther" type="trigger" />
                    </conditions>
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdCityPrecision" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Précisez la commune
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Specify city
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Précisez la commune
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Specify city
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                    <conditions>
                      <condition name="isTaxHouseholdCityOther" type="filled" required="true" />
                    </conditions>
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="TaxHouseholdIncome" type="xs:double">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Revenu brut global pour l'année 2009 et inférieur à 32 000 euros
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Global gross income for 2009 and less than 32,000 euros
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Revenu brut global pour l'année 2009 et inférieur à 32 000 euros
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Global gross income for 2009 and less than 32,000 euros
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="taxHousehold" />
                    <validation jsregexp="^[\d+\s?]+(?:(\.|,)\d{1,2})?$" />
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HasCROUSHelp" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  CROUS
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  CROUS
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  CROUS
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  CROUS
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HasRegionalCouncilHelp" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Conseil Régional
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Regional Council
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Conseil Régional
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Regional Council
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                  </common>
                 <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HasEuropeHelp" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Europe
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Europe
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Europe
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Europe
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                  </common>
                  <pdf />
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="HasOtherHelp" type="xs:boolean">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Autres (Établissement...)
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Others (School...)
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Autres (Établissement ...)
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Others (School...)
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="otherHelps" />
                  </common>
                  <pdf />
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="CurrentSchool" type="sgr:SgrCurrentSchoolType" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="currentStudies" />
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="ALevelsInformations" type="sgr:ALevelsInformationsType">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="currentStudies" />
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="CurrentStudiesInformations" type="sgr:CurrentStudiesInformationsType" minOccurs="0">
              <xs:annotation>
                <xs:appinfo>
                  <common>
                    <step name="currentStudies" />
                  </common>
                  <pdf />
                  <fo />
                  <bo column="2" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="Distance" type="sgr:DistanceType" default="undetermined">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Lieu d'études ou de stage situé à
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Distance between home and school or internship
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Lieu d'études ou de stage situé à
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Distance between home and school or internship
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step ref="administration" />
                  </common>
                  <pdf />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="IsSubjectAccountHolder" type="xs:boolean" default="true">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Etes-vous titulaire du compte ?
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Are you Account holder ?
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Etes-vous titulaire du compte ?
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Are you Account holder ?
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <conditions>
                      <condition name="isSubjectAccountHolder" type="trigger" />
                    </conditions>
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccountHolderTitle" type="cvq:TitleType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Civilité du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Account holder title
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Civilité du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Account holder title
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="bankReference" />
                    <conditions>
                      <condition name="isSubjectAccountHolder" type="unfilled" required="true" />
                    </conditions>
                  </common>
                 <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccountHolderLastName" type="cvq:LastNameType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Nom du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Account holder lastname
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Nom du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Account holder lastname
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="bankReference" />
                    <conditions>
                      <condition name="isSubjectAccountHolder" type="unfilled" required="true" />
                    </conditions>
                  </common>
                 <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccountHolderFirstName" type="cvq:FirstNameType" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Prénom du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Account holder firstname
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Prénom du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Account holder firstname
                </xs:documentation>
                <xs:appinfo>
                  <model namespace="users" />
                  <common>
                    <step name="bankReference" />
                    <conditions>
                      <condition name="isSubjectAccountHolder" type="unfilled" required="true" />
                    </conditions>
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccountHolderBirthDate" type="xs:date" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Date de naissance du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Account holder birth date
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Date de naissance du titulaire du compte
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Account holder birth date
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step name="bankReference" />
                    <conditions>
                      <condition name="isSubjectAccountHolder" type="unfilled" required="true" />
                    </conditions>
                  </common>
                 <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccountHolderEdemandeId" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Identifiant du titulaire du compte dans Grand Angle
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Identifiant du titulaire du compte dans Grand Angle
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Account holder ID in Grand Angle
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Account holder ID in Grand Angle
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step ref="administration" />
                  </common>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="BankAccount" type="cvq:BankAccountType">
              <xs:annotation>
                <xs:appinfo>
                  <model namespace="users" isTiedToRequest="true" />
                  <common>
                    <step name="bankReference" />
                  </common>
                  <pdf />
                  <fo />
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="EdemandeId" type="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
                  Identifiant de la demande dans Grand Angle
                </xs:documentation>
                <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
                  Identifiant de la demande dans Grand Angle
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
                  Request ID in Grand Angle
                </xs:documentation>
                <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
                  Request ID in Grand Angle
                </xs:documentation>
                <xs:appinfo>
                  <common>
                    <step ref="administration" />
                  </common>
                  <bo column="1" />
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="DistanceType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/translation/enum">
        <enum key="undetermined" value="La distance entre votre lieu de résidence et votre lieu d'études ou de stage n'a pas pu être déterminée. L'agent qui traitera votre demande pourra être amené à vous demander de préciser les informations nécessaires avant de traiter votre dossier." />
        <enum key="lessThan30kms" value="Moins de 30 kms du domicile" />
        <enum key="between30and250kms" value="Entre 30 et 250 kms du domicile" />
        <enum key="moreThan250kmsAndAbroad" value="Plus de 250 kms du domicile et à l'international" />
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/translation/enum">
        <enum key="undetermined" value="The distance bewteen home and school or internship could not be determined. The agent who will process your request may ask you required information." />
        <enum key="lessThan30kms" value="Less than 30 kms from home" />
        <enum key="between30and250kms" value="Between 30 and 250 kms from home" />
        <enum key="moreThan250kmsAndAbroad" value="More than 250 kms from home and abroad" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="undetermined"></xs:enumeration>
      <xs:enumeration value="lessThan30kms"></xs:enumeration>
      <xs:enumeration value="between30and250kms"></xs:enumeration>
      <xs:enumeration value="moreThan250kmsAndAbroad"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ALevelsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/translation/enum">
        <enum key="es" value="Économique et social (ES)" />
        <enum key="l" value="Littéraire (L)" />
        <enum key="s" value="Scientifique (S)" />
        <enum key="stg" value="Sciences et technologies de la gestion (S.T.G.)" />
        <enum key="sti" value="Sciences et technologies industrielles (S.T.I.)" />
        <enum key="stl" value="Sciences et technologies de laboratoire (S.T.L.)" />
        <enum key="st2s" value="Sciences et technologies de la santé et du social (ST2S)" />
        <enum key="stav" value="Sciences et technologies de l'agronomie et du vivant (S.T.A.V.)" />
        <enum key="tmd" value="Techniques de la musique et de la danse (T.M.D.)" />
        <enum key="h" value="Hôtellerie" />
        <enum key="p" value="Professionnel" />
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/translation/enum">
        <enum key="es" value="Economics and social sciences (ES)" />
        <enum key="l" value="Literature (L)" />
        <enum key="s" value="Sciences (S)" />
        <enum key="stg" value="Management sciences and technologies (S.T.G.)" />
        <enum key="sti" value="Industrial sciences and technologies (S.T.I.)" />
        <enum key="stl" value="Laboratory sciences and technologies (S.T.L.)" />
        <enum key="st2s" value="Health and social sciences and technologies (ST2S)" />
        <enum key="stav" value="Living and agronomye sciences and technologies (S.T.A.V.)" />
        <enum key="tmd" value="Music and dance techniques (T.M.D.)" />
        <enum key="h" value="Hotel management" />
        <enum key="p" value="Professional" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="es"></xs:enumeration>
      <xs:enumeration value="l"></xs:enumeration>
      <xs:enumeration value="s"></xs:enumeration>
      <xs:enumeration value="stg"></xs:enumeration>
      <xs:enumeration value="sti"></xs:enumeration>
      <xs:enumeration value="stl"></xs:enumeration>
      <xs:enumeration value="st2s"></xs:enumeration>
      <xs:enumeration value="stav"></xs:enumeration>
      <xs:enumeration value="tmd"></xs:enumeration>
      <xs:enumeration value="h"></xs:enumeration>
      <xs:enumeration value="p"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CurrentStudiesType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/translation/enum">
        <enum key="licence" value="Licence" />
        <enum key="licencePro" value="Licence Pro" />
        <enum key="master" value="Master" />
        <enum key="bts" value="BTS" />
        <enum key="dut" value="DUT" />
        <enum key="otherStudies" value="Autre" />
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/translation/enum">
        <enum key="licence" value="Licence" />
        <enum key="licencePro" value="Licence Pro" />
        <enum key="master" value="Master" />
        <enum key="bts" value="BTS" />
        <enum key="dut" value="DUT" />
        <enum key="otherStudies" value="Other" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="licence"></xs:enumeration>
      <xs:enumeration value="licencePro"></xs:enumeration>
      <xs:enumeration value="master"></xs:enumeration>
      <xs:enumeration value="bts"></xs:enumeration>
      <xs:enumeration value="dut"></xs:enumeration>
      <xs:enumeration value="otherStudies"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CurrentStudiesLevelType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/translation/enum">
        <enum key="firstYear" value="1ère année" />
        <enum key="secondYear" value="2ème année" />
        <enum key="thirdYear" value="3ème année" />
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/translation/enum">
        <enum key="firstYear" value="1st year" />
        <enum key="secondYear" value="2nd year" />
        <enum key="thirdYear" value="3rd year" />
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="firstYear"></xs:enumeration>
      <xs:enumeration value="secondYear"></xs:enumeration>
      <xs:enumeration value="thirdYear"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="SubjectInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
        Informations concernant l'étudiant
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
        Information about student
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
        Informations concernant l'étudiant
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
        Information about student
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SubjectBirthDate" type="xs:date">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Date de naissance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            Date of birth
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Date de naissance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            Date of birth
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
              <autofill name="subjectFilling" type="listener" field="BirthDate" />
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectFirstRequest" type="xs:boolean" default="true">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Première demande
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            First request
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Première demande
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            First request
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="subject" />
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ALevelsInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
        Baccalauréat
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
        A Levels
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
        Baccalauréat
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
        A Levels
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AlevelsDate">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Année d'obtention du baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            A Levels obtaining year
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Année d'obtention du baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            A Levels obtaining year
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <validation jsregexp="^\d{2,4}$" />
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Alevels" type="sgr:ALevelsType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Type de baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            A Levels type
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Type de baccalauréat
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            A Levels type
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CurrentStudiesInformationsType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
        Études supérieures
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
        Higher education
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
        Études supérieures
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
        Higher education
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrentStudiesDiploma" type="sgr:CurrentStudiesType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Diplôme préparé
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            Prepared diploma
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Diplôme préparé
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            Prepared diploma
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isInOtherStudies" type="trigger" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherStudiesLabel" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Précisez
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            Specify
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Précisez
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            Specify
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isInOtherStudies" type="filled" required="true" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentStudiesLevel" type="sgr:CurrentStudiesLevelType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Niveau
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            Level
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Niveau
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            Level
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SandwichCourses" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Études en alternance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            Sandwich courses
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Études en alternance
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            Sandwich courses
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
            </common>
            <pdf />
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternship" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Stage à l'étranger
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            Abroad internship
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Stage à l'étranger
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            Abroad internship
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="makesAbroadInternship" type="trigger" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternshipStartDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Date de début
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            Start date
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Date de début
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            Start date
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="makesAbroadInternship" type="filled" required="true" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternshipEndDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Date de fin
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            End date
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Date de fin
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            End date
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="makesAbroadInternship" type="filled" required="true" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternshipSchoolName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Nom de l'établissement d'accueil
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            Reception school name
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Nom de l'établissement d'accueil
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            Reception school name
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="makesAbroadInternship" type="filled" required="true" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbroadInternshipSchoolCountry" type="cvq:CountryType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Pays
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            Country
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Pays
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            Country
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="makesAbroadInternship" type="filled" required="true" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="2" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="SgrCurrentSchoolType">
    <xs:annotation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
        Établissement scolaire
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
        Current school
      </xs:documentation>
      <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
        Établissement scolaire
      </xs:documentation>
      <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
        Current school
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrentSchoolName" type="cvq:LocalReferentialDataType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Nom de l'établissement
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            School name
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Nom de l'établissement
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            School name
          </xs:documentation>
          <xs:appinfo>
            <model namespace="request" isTiedToRequest="true" />
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isCurrentSchoolNameOther" type="trigger" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentSchoolNamePrecision" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/longdesc">
            Précisez le nom
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/longdesc">
            Specify school name
          </xs:documentation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Précisez le nom
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            Specify school name
          </xs:documentation>
          <xs:appinfo>
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isCurrentSchoolNameOther" type="filled" required="true" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentSchoolAddress" type="cvq:AddressType">
        <xs:annotation>
          <xs:documentation xml:lang="fr" source="http://www.libredemat.org/schema/shortdesc">
            Adresse de l'établissement
          </xs:documentation>
          <xs:documentation xml:lang="en" source="http://www.libredemat.org/schema/shortdesc">
            School address
          </xs:documentation>
          <xs:appinfo>
            <model namespace="users" />
            <common>
              <step name="currentStudies" />
              <conditions>
                <condition name="isCurrentSchoolNameOther" type="filled" required="true" />
              </conditions>
            </common>
            <pdf />
            <fo />
            <bo column="1" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
